{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
    <div class="login-container" style="max-width: 900px;">
        {{ form_start(form,{'attr': {}}) }}
        <h3>{{ header }}</h3>
        <h4>by {{ creator }}</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    {{  form_widget(form.title) }}
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group" >
                    {{  form_widget(form.content, {'attr': {'style' : 'height: 200px'}}) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_widget(form.submit, {'attr': {'class': 'login-submit', 'style' : 'width: 100%'}}) }}
                </div>
            </div>
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}